---
Language: Cpp
BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignOperands: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BinPackArguments: false 
BreakAfterAttributes: Always
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: AfterColon
IndentCaseBlocks: true
IndentRequiresClause: true
MaxEmptyLinesToKeep: 2
PackConstructorInitializers: NextLine 
PackConstructorInitializers: Never
PenaltyBreakTemplateDeclaration: 0
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: true
SpaceAfterTemplateKeyword: true
SpacesInAngles: false

Cpp11BracedListStyle: false
...
